.mainstyle{
    border:0.2em solid;
    text-align:center ;
    width:30%;
    padding: 20px; 
    
}
.headerStyle
{
    align-content: center;
}
.buttonStyle
{
    padding: 0.5em;
    display: inline;
    width: 50px;
    height:40px;
    margin: 1;
    
} 
.textStyle{
    margin: 0.5em;
    width: 70%;
}