.mainstyle{
    border:0.1em solid lightgrey;
    text-align:center ;
    width:30%;
    padding: 20px; 
    margin:0em 20em;
    
}
.buttonStyle
{
    padding: 0.5em;
    display: inline;
    width: 50px;
    height:40px;
    margin: 1;
    
} 
.textStyle{
    margin: 0.5em;
    width: 15em;
}
.headerStyle{
    margin:0.5em 15em 0.5em;
    width:6em;
    
}
